$maroon: #800000;
$white: #fff;

.tg-site-header.tg-site-header--bordered .tg-header-bottom .header-bottom-bottom .tg-container{
  border-top: 2px solid $maroon;
}

.cenote-header-media .tg-container{
  background-position: bottom;
  min-height: 600px;
}

.buttonContainer{
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.customButton{
  width: 100%;
  padding: 4% 0;
  margin-bottom: 5%;
  background-color: $maroon;
  cursor:pointer;
  a{
    display: block;
    color: $white;
    text-align: center;
    font-weight: bold;
  }
}

#about{
  overflow: hidden;
  margin-bottom: 25%;
  img{
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
  p{
    text-align: center;
  }
}

.gallery-columns-3 .gallery-item{
  max-width: 100%;
}

@media (min-width: 768px) {
  #about{
    div{
      width: 49%;
      height: 100%;
      float: left;
    }
    img{
      margin-top: 7%;
    }
    h2{
      margin-top: 0;
    }
  }

  .gallery-columns-3 .gallery-item{
    max-width: 50%;
  }

  .buttonContainer{
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;
  }

  .customButton{
    width: 40%;
  }
}

@media (min-width: 992px) {
  .gallery-columns-3 .gallery-item{
    max-width: 33.33%;
  }

  .customButton{
    padding: 2%;
  }

  #about{
    margin-bottom: 15%;
    p{
      padding: 5% 10%;
    }
  }
}

@media (min-width: 1200px) {
  #about{
    margin-bottom: 10%;
  }
}
