$maroon: #800000;

.tg-site-header.tg-site-header--bordered .tg-header-bottom .header-bottom-bottom .tg-container{
  border-top: 2px solid $maroon;
}

.cenote-header-media .tg-container{
  background-position: bottom;
  min-height: 600px;
}
